Include /etc/ssh/sshd_config.d/*.conf
Port 6222
MaxSessions 2
AuthorizedKeysFile	.ssh/authorized_keys
GSSAPIAuthentication no
AllowUsers daniel
TCPKeepAlive yes
ClientAliveInterval 10
ClientAliveCountMax 10
UseDNS no
Subsystem	sftp	/usr/libexec/openssh/sftp-server

